langchain
langchain_community
pdfplumber
spacy
openai
scikit-learn 
nltk
CTransformers
sentence_transformers
chromadb
pypdf
streamlit
fastapi
jinja2
aiofiles
PyPDF2
python-multipart
faiss-cpu